*{
    margin: 0;
    padding: 0;
}
/* Saira font incorporation */
@font-face{
    font-family: Saira;
    src: url(./fonts/Saira-Regular.ttf);
}

/* Header styles */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
/* navbar styles */
nav{
    font-family: saira;
}
nav a{
    text-decoration: none;
    color: rgb(84, 84, 84);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 20px;
}
nav a:hover{
    color: rgb(255, 145, 77);
    transition: 0.5s;
}

header svg{
    display: none;
}

@media (max-width:1040px) {
    header svg{
        display: block;
    }
    nav a{
        display: none;
    }
}